<div class="chat">
  <div class="message">
  </div>
</div>
<div class="overall">
  <div *ngFor="let CompRoute of competitionRoutes; let i = index">
    <div class="info">
      <h2 class="title">{{CompRoute.route.name}}</h2>
      <p>
        <span>Zone Reached: </span>
        <span class="spacing" (click)="climbingTry(CompRoute.route.id, 1, CompRoute.competition.id)">Zone 1</span>
        <span class="spacing" (click)="climbingTry(CompRoute.route.id, 2, CompRoute.competition.id)">Zone 2</span>
        <span class="spacing" (click)="climbingTry(CompRoute.route.id, 3, CompRoute.competition.id)">Zone 3</span>
        <span class="spacing" (click)="climbingTry(CompRoute.route.id, 4, CompRoute.competition.id)">Top</span>
      </p>
      <p>
        <span>Route Difficulty:</span>
        <span class="spacing">{{difficulty[i]}}{{CompRoute.route.plusMinus}}</span>
      </p>
      <p>
        <span>Route Color:</span>
        <span class="spacing">{{CompRoute.route.color}}</span>
      </p>
      <p>
        <span>Securing Methods available:</span>
        <span class="spacing">{{CompRoute.route.securingMethod}}</span>
      </p>
      <p>
        <span>Route was build on:</span>
        <span class="spacing">{{CompRoute.route.buildDate| date: 'dd-MM-yyyy'}}</span>
      </p>
    </div>
  </div>
</div>
