<!--<table matSort (matSortChange)="sortData($event)" mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->


<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns">-->
<!--    <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>Dessert (100g)</th>-->
<!--    <th mat-header-cell mat-sort-header="calories" *matHeaderCellDef>Calories</th>-->
<!--    <th mat-header-cell mat-sort-header="fat" *matHeaderCellDef>Fat (g)</th>-->
<!--    <th mat-header-cell mat-sort-header="carbs" *matHeaderCellDef>Carbs (g)</th>-->
<!--    <th mat-header-cell mat-sort-header="protein" *matHeaderCellDef>Protein (g)</th>-->
<!--  </tr>-->

<!--  <tr mat-row *ngFor="let dessert of sortedData">-->
<!--    <td mat-cell>{{dessert.name}}</td>-->
<!--    <td mat-cell>{{dessert.calories}}</td>-->
<!--    <td mat-cell>{{dessert.fat}}</td>-->
<!--    <td mat-cell>{{dessert.carbs}}</td>-->
<!--    <td mat-cell>{{dessert.protein}}</td>-->
<!--  </tr>-->
<!--</table>-->
<!--  &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--        The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--  &lt;!&ndash; Position Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="name">-->
<!--    <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Name Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="calories">-->
<!--    <th mat-header-cell *matHeaderCellDef> Calories </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.calories}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="fat">-->
<!--    <th mat-header-cell *matHeaderCellDef> Fat </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.fat}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="carbs">-->
<!--    <th mat-header-cell *matHeaderCellDef> Carbs </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.carbs}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="protein">-->
<!--    <th mat-header-cell *matHeaderCellDef> Protein </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.protein}} </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->

<!--<mat-paginator [length]="100"-->
<!--               [pageSize]="10"-->
<!--               [pageSizeOptions]="[5, 10, 25, 100]">-->
<!--</mat-paginator>-->

<!-- New try -->

<div class="flex-container">
  <div class="row" style="float:left;  width: 50%; margin-left: 10%">
    <div class="[ col-xs-12]">
      <div class="event-list">
        <div class="activityitem" *ngFor="let ClimbingRoute of climbingRoutes">
          <div (click)="RouteInfo(this.ClimbingRoute.id)">
            <div class="info">
              <h2 class="title">{{ClimbingRoute.name}}</h2>
              <p>
                <span>Zone Reached: </span>
                <span class="spacing" (click)="climbingTry(ClimbingRoute.id, 1)">Zone 1</span>
                <span class="spacing" (click)="climbingTry(ClimbingRoute.id,2)">Zone 2</span>
                <span class="spacing" (click)="climbingTry(ClimbingRoute.id,3)">Zone 3</span>
                <span class="spacing" (click)="climbingTry(ClimbingRoute.id,4)">Top</span>
              </p>
              <p>
                <span>Route Difficulty:</span>
                <span class="spacing">{{ClimbingRoute.difficulty}}{{ClimbingRoute.plusMinus}}</span>
              </p>
              <p>
                <span>Route Color:</span>
                <span class="spacing">{{ClimbingRoute.color}}</span>
              </p>
              <p>
                <span>Securing Methods available:</span>
                <span class="spacing">{{ClimbingRoute.securingMethod.toString()}}</span>
              </p>
              <p>
                <span>Route was build on:</span>
                <span class="spacing">{{ClimbingRoute.buildDate| date: 'dd-MM-yyyy'}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="length"
                 [pageSize]="1"
                 [pageSizeOptions]="[1, 10]"
                 (page)="pageEvent = getRoutes($event)">
  </mat-paginator>
</div>

<!-- End New Try -->
