<table matSort (matSortChange)="sortData($event)" mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <tr mat-header-row *matHeaderRowDef="displayedColumns">
    <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>Dessert (100g)</th>
    <th mat-header-cell mat-sort-header="calories" *matHeaderCellDef>Calories</th>
    <th mat-header-cell mat-sort-header="fat" *matHeaderCellDef>Fat (g)</th>
    <th mat-header-cell mat-sort-header="carbs" *matHeaderCellDef>Carbs (g)</th>
    <th mat-header-cell mat-sort-header="protein" *matHeaderCellDef>Protein (g)</th>
  </tr>

  <tr mat-row *ngFor="let dessert of sortedData">
    <td mat-cell>{{dessert.name}}</td>
    <td mat-cell>{{dessert.calories}}</td>
    <td mat-cell>{{dessert.fat}}</td>
    <td mat-cell>{{dessert.carbs}}</td>
    <td mat-cell>{{dessert.protein}}</td>
  </tr>
</table>
<!--  &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--        The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--  &lt;!&ndash; Position Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="name">-->
<!--    <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Name Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="calories">-->
<!--    <th mat-header-cell *matHeaderCellDef> Calories </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.calories}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="fat">-->
<!--    <th mat-header-cell *matHeaderCellDef> Fat </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.fat}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="carbs">-->
<!--    <th mat-header-cell *matHeaderCellDef> Carbs </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.carbs}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="protein">-->
<!--    <th mat-header-cell *matHeaderCellDef> Protein </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.protein}} </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
