.center {
  text-align: center;
}

.image {
  height: 15%;
  width: 15%;
  margin-left: 42.5%;
}

.background {
  margin: 0 10%;
  background-color: grey;
}

.margin-middle {
  margin-left: 42.5%;
}

.spacing {
  padding-left: 3em;
}

.tiny-spacing {
  padding-left: 2em;
}

.text-size {
  font-size: 1.2em;
}

@media screen and (max-width: 1000px) {
  .text-size {
    font-size: 1em;
  }

  .spacing {
    padding-left: 2.5em;
  }

  .tiny-spacing {
    padding-left: 1.5em;
  }

  .margin-middle {
    margin-left: 41%;
  }
}

@media screen and (max-width: 735px) {
  .text-size {
    font-size: 0.8em;
  }

  .spacing {
    padding-left: 2em;
  }

  .tiny-spacing {
    padding-left: 1em;
  }

  .margin-middle {
    margin-left: 40%;
  }
}



