<div class="background">
  <p class="text-size center"><span>First Name</span> <span class="spacing">Last Name</span></p>
  <img src="../../assets/img/ProfilePic.png" class="image"/>
  <div class="margin-middle">
    <p class="text-size"><span>Routes Climbed:</span> <span class="tiny-spacing">12</span></p>
    <p class="text-size"><span>Routes Max:</span> <span class="tiny-spacing">6c</span></p>
    <p class="text-size"><span>Routes Average:</span> <span class="tiny-spacing">6b+</span></p>
  </div>
</div>


