<div class="background">
  <p class="text-size center">
    <span><input [(ngModel)]="firstName"></span>
    <span class="spacing"><input [(ngModel)]="middleName"></span>
    <span class="spacing"><input [(ngModel)]="lastName"></span>
  </p>
  <img src="../../assets/img/ProfilePic.png" class="image"/>
  <div class="margin-middle">
    <p class="text-size"><span>Routes Climbed:</span> <span class="tiny-spacing">{{routeCount}}</span></p>
    <p class="text-size"><span>Routes Max:</span> <span class="tiny-spacing">6c</span></p>
    <p class="text-size"><span>Routes Average:</span> <span class="tiny-spacing">6b+</span></p>
  </div>
  <div>
    <button (click)="updateAccount()">Save Changes</button>
  </div>
</div>


