.center {
  text-align: center;
}

.image {
  height: 15%;
  width: 15%;
}

.margin-middle {
  margin-left: 42.5%;
}

.spacing {
  padding-left: 3em;
}

.tiny-spacing {
  padding-left: 2em;
}

.text-size {
  font-size: 1.2em;
}
