<nav class="navbar-header">  <!--ng-controller="NavigationController"-->
  <!--  <span ng-repeat="navigator in navigators" (click)="{{navigator.method}}"-->

  <ng-template [ngIf]="this.signedIn === false">
    <span (click)="toLogin()" class="mat-button-wrapper pull-right">
      <span>Login</span>
    </span>
      <span (click)="toRegister()" class="mat-button-wrapper pull-right">
      <span>Register</span>
    </span>
  </ng-template>

  <ng-template [ngIf]="this.signedIn === true">
    <span (click)="toRoutes()" class="mat-button-wrapper">
      <span>Routes</span>
    </span>
    <span (click)="toCompetitions()" class="mat-button-wrapper">
      <span>Competitions</span>
    </span>
    <span (click)="toProfile()" class="mat-button-wrapper pull-right">
      <span>Profile</span>
    </span>
    <span (click)="toLogOut()" class="mat-button-wrapper pull-right">
      <span>Log Out</span>
    </span>
  </ng-template>
</nav>
