.navbar-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background: #3f51b5;
}

.mat-button-wrapper{
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: inherit;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 5%;
  padding-right: 5%;
}

nav {
  display: block;
}

.right-side{
  float: right;
}

@media screen and (max-width: 1000px) {
  .mat-button-wrapper {
    font-size: 15px;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 735px) {
  .mat-button-wrapper{
    font-size: 14px;
    padding-left: 2%;
    padding-right: 2%;
  }
}


